.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.--meeting &__notify {
    margin-left: rem(50px);
  }

  &.--meeting &__meeting {
    margin-left: auto;
  }

  &__back {
    margin-right: rem(44px);

    button {
      display: flex;
      align-items: center;
      border: 0;
      background-color: transparent;
      padding: 10px 0;

      &:hover {
        svg {
          fill: $blue;
        }

        span {
          color: $blue;
        }
      }
    }

    svg {
      width: rem(15px);
      height: rem(12px);
      transition: .2s;
    }

    span {
      font-size: rem(19px);
      margin-left: rem(17px);
      transition: .2s;
    }
  }

  &__title {
    display: flex;
    align-items: center;

    max-width: 35%;

    &.--w-auto {
      max-width: inherit;
    }

    &.--w-half {
      max-width: calc(50% - #{rem(148px)});
    }

    h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: rem(22px);

      width: 100%;

      border-radius: rem(5px);
      border: rem(1px) solid transparent;
      transition: .1s;
      position: relative;

      &[contenteditable="true"] {
        border-color: $blue-400;
        outline: 0;
      }

      //&:after {
      //  content: attr(data-title);
      //  display: block;
      //  position: absolute;
      //  top: 100%;
      //  left: 0;
      //  background-color: #000;
      //  border-radius: rem(5px);
      //  padding: rem(5px);
      //}
    }

    input {
      font-size: rem(36px);
      color: $blue-400;

      border: 0;
      background-color: transparent;

      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;

      outline: none;
      padding: 5px;

      &.active {
        outline: rem(1px) solid $blue;
      }
    }

    button {
      width: rem(20px);
      height: rem(20px);
      max-width: rem(20px);
      min-width: rem(20px);
      border: 0;
      background-color: transparent;
      padding: 0;
      margin-left: rem(44px);

      &:hover {
        svg {
          fill: $blue-700;
        }
      }

      &.active {
        svg {
          fill: $blue;
        }
      }

      svg {
        width: 100%;
        height: 100%;
        fill: $blue-400;
        transition: .2s;
      }
    }
  }

  &__options {
    display: flex;
    align-items: center;
    
    margin-left: rem(97px);
    position: relative;
    top: rem(3px);

    @media(max-width: 1400px) {
      margin-left: rem(40px);
    }

    .select-block {
      .select-block__selected {
        font-weight: 500;
        color: $blue-700;
      }

      &__arrow {
        svg {
          fill: $blue-700;
        }
      }
    }
  }

  &__calendar {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    //margin-right: auto;
    position: relative;

    margin-right: rem(80px);

    @media(max-width: 1400px) {
      margin-right: rem(40px);
    }

    &.active {
      z-index: 20;
    }

    button {
      border: 0;
      padding: 0;
      margin: 0;
      background-color: transparent;

      span {
        transition: .2s;
        font-size: rem(19px);
        font-weight: 500;
        letter-spacing: rem(-0.3px);
        margin-right: rem(13px);
        color: $blue-700;
      }

    }

    .icon-arrow, .icon-calendar {
      transition: .2s;

      fill: $blue-700;
    }

    .icon-calendar {
      width: rem(15px);
      height: rem(14px);
      margin-right: rem(6px);
    }

    .icon-arrow {
      width: rem(15px);
      height: rem(8px);
      transform-origin: center;

      position: relative;
      top: -2px;
    }

    &.active {
      span {
        color: $blue;
      }

      .icon-arrow {
        transform: rotate(-180deg);
      }

      svg {
        fill: $blue;
      }
    }

    &:hover {
      span {
        color: $blue;
      }

      svg {
        fill: $blue;
      }
    }

    .vc-container {
      position: absolute;

      top: 100%;
      left: 0;
      margin-top: 18px;
    }
  }

  &__notify {
    margin-left: auto;

    display: flex;
    align-items: center;

    button {
      padding: 0;
      margin: 0;
      border: 0;
      background-color: transparent;
      outline: none;
      transition: .2s;

      font-size: rem(19px);
      font-weight: 500;
      color: $blue-700;
      margin-right: rem(26px);
      letter-spacing: rem(-0.2px);

      &:hover {
        color: $blue;
      }
    }
  }

  .btn-add {
    color: $blue-700;

    span {
      font-weight: 500;
    }

    &:hover {
      color: $blue;
    }
  }
}
